thead th {
    background: #88CCF1;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
}


th, td {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
    text-align: left;
    border-bottom: 1px inset #eeeeee;
    width: 33.3333%;
}
.text-left {
  text-align:left;
}

.text-right {
  text-align:right;
}

th {
    font-weight: bold;
    text-align: -internal-center;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}


table {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal normal;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: black;
}

