
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>Bonjour,</p>
    <p>Votre demande de congé a bien été validée par votre responsable.</p>
    <p>Nous vous invitons à vous rendre sur <a href="https://emcc-export.herokuapp.com">le site</a> afin de la télécharger.</p><br>
    <p>Cordialement</p>
    <p>EMCC Export</p>

  </body>
</html>
