
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>Bonjour,</p>
    <p>Votre demande de congé a bien été soumise à votre responsable.</p>
    <p>Nous vous enverrons un email lorsqu'elle sera validée.</p><br>
    <p>Cordialement</p>
    <p>EMCC Export</p>

  </body>
</html>
