
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>Bonjour,</p>
    <p>Une demande de congé ou d'absence de <%= @travel.user.full_name %> vous a été soumise pour validation.</p>
    <p>Merci de bien vouloir vous connecter sur <a href="https://emcc-export.herokuapp.com">le site</a> pour la consulter.</p><br>
    <p>Cordialement</p>
    <p>EMCC Export</p>

  </body>

</html>
