

<div class="container">
<h2 class="text-center">Nos localisations</h2> <br>
<p class="text-center">Si rien ne s'affiche veuillez recharger la page</p>
 <div id="map" style="width: 100%; height: 400px;"></div>

 <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6GsCiLjKnVSwxNvpdvOHTU3Gbtg49k1Q&callback=initMap">
    </script>

  <script type="text/javascript">
    var locations = [
      ['Abidjan', 5.3599517, -4.008256299999971, 1],
      ['Lomé', 6.172496899999999, 1.2313618000000588, 2],
      ['Port au Prince', 18.594395,-72.30743259999997, 3],
      ['Kingston', 18.0178743,-76.80990409999998, 4],
      ['Kamsar', 10.6637208,-14.58443950000003, 5]
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: new google.maps.LatLng(5.3599517, -4.008256299999971),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>

  </div>

