.card-category {
  display:block;
  text-align:center;
  background:#2a6091;
  line-height:200px;
  color:white;
  font-size:25px;
  font-weight:bold;

}

.card-category:hover {
  color:white;

}


@media screen and (max-width: 1200px)
{
    .card-category {
    font-size:20px;
    line-height:180px;
    }
}


@media screen and (max-width: 768px)
{
    .card-category {
    line-height:auto;
    font-size:15px;

    }
}

@media screen and (max-width: 320px)
{
    .card-category {
    margin-top:10px;
    line-height:100px;


    }

}

@media screen and (max-width: 414px)
{
    .card-category {
    margin-top:10px;

    }

}
