<p>Bonjour <%= @resource.email %>!</p>

<p>Suite à votre demande, vous avez la possibilité de réinitialiser votre mot de passe</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer cet email, votre mot de passe ne changera pas</p><br><br>
<p>L'équipe EMCC-docs</p>
